.section-title .title {
    font-size: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .shape{
    width: 80%;
    margin: auto;
   }
   .more img{
       width: 80%;
       margin: auto; 
   }

  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .section-title .title {
      font-size: 30px;
    }
  }
  
  @media (max-width: 767px) {
    .section-title .title {
      font-size: 24px;
    }
  }
  
  .section-title .title span {
    font-weight: 400;
    display: contents;
  }
  .services-area{
    background-color: rgb(242, 230, 230);
    padding: 30px;
  }
  .single-services {
    background-color: #ffffff;
    margin-top: 20px;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(54, 48, 48, 0.353);
    box-shadow: 0px 5px 10px 0px rgba(49, 47, 47, 0.16);
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    padding: 50px 30px;
    border: 2px solid transparent;
    border-radius: 8px;
  }
  
  @media (max-width: 767px) {
    .single-services {
      padding: 20px 20px 30px;
    }
  }
  
  .single-services .services-icon {
    display: inline-block;
    position: relative;
  }
  
  .single-services .services-icon img {
    -webkit-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
  }
  
  .single-services .services-icon .shape-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .single-services .services-icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 34px;
    color: #fff;
  }
  
  .single-services .services-content .services-title a {
    font-size: 26px;
    font-weight: 700;
    color: #2E2E2E;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-services .services-content .services-title a {
      font-size: 24px;
    }
  }
  
  @media (max-width: 767px) {
    .single-services .services-content .services-title a {
      font-size: 20px;
    }
  }
  
  .single-services .services-content .services-title a:hover {
    color: #361CC1;
  }
  
  .single-services .services-content .text {
    margin-top: 30px;
  }
  
  @media (max-width: 767px) {
    .single-services .services-content .text {
      margin-top: 20px;
    }
  }
  
  .single-services .services-content .more {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 400;
    color: #fe7a7b;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
  
  .single-services .services-content .more i {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 700;
  }
  
  .single-services .services-content .more:hover {
    letter-spacing: 2px;
  }
  
  .single-services:hover {
    border-color: #fe7a7b;
  }
  
    
  .single-services:hover{
    transform: scale(1.05);
  }
